<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <style type="text/css">
      .form-control{
      width: 20%;
    }
    </style>
</head>
<body>
<h1>Edit Password</h1>
  <%= form_with model: Current.user, url: edit_password_path do |f| %>
    <p>
    <%= f.label 'password:', class:"form-label"%><br>
    <%= f.password_field :password , class:"form-control"%>
    </p>
    <p>
    <%= f.label 'password_confirmation:', class:"form-label"%><br>
    <%= f.password_field :password_confirmation, class:"form-control" %>
    </p>
    <p>
    <%= f.submit 'Update', class:"btn btn-success " %>
    <%= link_to 'Sign Up', sign_up_path,class:"btn btn-warning " %>
    </p>
  <% end %>

</body>
</html>

